language: cpp
before_script:
  - sudo apt-get install libgtest-dev cmake -y

  - cd /usr/src/gtest
  - sudo cmake .
  - sudo make
  - sudo cp *.a /usr/lib
  - cd "${TRAVIS_BUILD_DIR}"
script: 
  - cmake .
  - cmake --build .
  - cmake --build . --target test
  - cmake --build . --target package  
deploy: 
  - provider: script
    skip_cleanup: true
    script:       
     - curl -T timus08-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb -upk-otus:$BINTRAY_API_KEY "https://api.bintray.com/content/pk-otus/OTUS/timus08/$TRAVIS_BUILD_NUMBER/timus08.$TRAVIS_BUILD_NUMBER-Linux.deb;deb_distribution=trusty;deb_component=main;deb_architecture=amd64;publish=1" 
  
